@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #e67e22;
  --color-primary-light--1: #eb984e;
  --color-primary-light--2: #fae5d3;
  --color-primary-light--3: #fdf2e9;
  --color-primary-dark--1: #cf711f;
  --color-primary-dark--2: #45260a;
  --color-green--vegetarian: #51cf66;
  --color-green--vegan: #94d82d;
  --color-yellow--paleo: #ffd43b;
  --grey--1: #333;
  --grey--2: #555;
  --grey--3: #6f6f6f;
  --grey--4: #767676;
  --grey--5: #888;
  --grey--6: #aaa;
  --grey--7: #ddd;
  --border-radius--sm: 4px;
  --border-radius--md: 9px;
  --border-radius--lg: 11px;
  --border-radius--circle: 50%;
  --border-radius--round: 10rem;
  --lh--1: 1;
  --lh--2: 1.05;
  --lh--3: 1.2;
  --lh--4: 1.6;
  --lh--5: 1.8;
  --pad-sides--tny: 0 3.2rem;
  --pad-sides--sm: 0 4.8rem;
  --pad-sides--md: 0 9.6rem;
  --pad-sides--lg: 0 12.8rem;
  --pad-top-btm-diff--tny: 4.8rem 0 3.2rem 0;
  --pad-top-btm-diff--md: 4.8rem 0 9.6rem 0;
  --pad-top-btm-diff--lg: 4.8rem 0 12.8rem 0;
  --pad-top-btm-same--tny: 3.2rem 0;
  --pad-top-btm-same--sm: 4.8rem 0;
  --pad-top-btm-same--md: 9.6rem 0;
  --pad-top-btm-same--lg: 12.8rem 0;
  --pad-all--vtny: 1.2rem;
  --pad-all--tny: 1.6rem;
  --pad-all--sm: 3.2rem;
  --pad-all--md: 9.6rem;
  --pad-all--lg: 12.8rem;
}

/*
 - phone-small
 - phone-large
 - tab-small
 - tab-large
 - tab-land-small
 - tab-land-large
 - desk
 - desk-big
*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 59.4em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 37.5%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 68.75%;
  }
}

body {
  overflow-x: hidden;
  position: relative;
}

.heading-primary, .heading-secondary, .heading-tertiary {
  font-weight: 700;
  color: var(--grey--1);
  letter-spacing: -0.5px;
}

section > *,
footer > * {
  padding: var(--pad-sides--tny);
}

/* ###################
NOTE: The typography styling section includes all of the typography/font definitions of this website but the font color definitions included in this section are only of the components that do not change color on any type of events or show any kind of animation effects with their font color.

[ Please check the appropriate sass file for change such block or elements color styling!!! 😊 ]
 ################### */
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grey--2);
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 59.4em) {
  .heading-primary {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .heading-primary {
    font-size: 3.6rem;
  }
}
.heading-primary--number {
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--grey--7);
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 46.875em) {
  .heading-primary--number {
    font-size: 6.4rem;
  }
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
@media only screen and (max-width: 59.4em) {
  .heading-secondary {
    font-size: 3.8rem;
    margin-bottom: 6.4rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .heading-secondary {
    font-size: 2.8rem;
  }
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 59.4em) {
  .heading-tertiary {
    font-size: 2.6rem;
    margin-bottom: 2.8rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .heading-tertiary {
    font-size: 2.2rem;
  }
}
.heading-sub {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-dark--1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-featured {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--grey--5);
}

.title-primary {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--grey--1);
  margin-bottom: 3.2rem;
}
.title-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--grey--1);
  margin-bottom: 1.6rem;
}
.title-tertiary {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.title-sub {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.75;
  color: var(--color-primary-dark--1);
  margin-bottom: 3.2rem;
}

.description-primary {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
@media only screen and (max-width: 46.875em) {
  .description-primary {
    font-size: 2.2rem;
  }
}
.description-secondary {
  font-size: 1.8rem;
  line-height: 1.8;
}
@media only screen and (max-width: 46.875em) {
  .description-secondary {
    font-size: 2rem;
  }
}

.nav__link:link, .nav__link:visited {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grey--1);
  text-decoration: none;
}
@media only screen and (max-width: 59.4em) {
  .nav__link:link, .nav__link:visited {
    font-size: 3.2rem;
    font-weight: 400;
  }
}
.nav__link:hover, .nav__link:active {
  color: var(--color-primary-dark--1);
}
.nav__link-cta:link, .nav__link-cta:visited {
  color: var(--color-white);
}

.delivered__text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered__text span {
  color: var(--color-primary-dark--1);
  font-weight: 700;
}

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
}

.tag {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--grey--1);
  text-transform: uppercase;
}

.meal-card__attribute {
  font-size: 1.8rem;
}

.diets__list-item {
  font-size: 1.8rem;
  line-height: var(--lh--3);
}

.link--all-recipes:link, .link--all-recipes:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--color-primary);
}
.link--all-recipes:hover, .link--all-recipes:active {
  color: var(--color-primary-dark--1);
}

.author-name {
  font-size: 1.6rem;
  color: var(--grey--3);
}

.price--lg {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--grey--1);
  margin-bottom: 1.6rem;
}
.price--lg span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan__detail {
  font-size: 1.6rem;
  line-height: var(--lh--4);
  color: var(--grey--3);
}
.plan__attribute {
  font-size: 1.8rem;
  line-height: var(--lh--3);
}
.plan--complete::after {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grey--1);
  text-transform: uppercase;
}

.pricing__details {
  font-size: 1.6rem;
  line-height: var(--lh--4);
}

.address {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.contact__link:not(:last-child) {
  margin-bottom: auto;
}

.contact__link,
.footer__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey--4);
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

label {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary-dark--2);
}

input,
select {
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
}

.mgb-vtny {
  margin-bottom: 1.2rem !important;
}

.mgb-tny {
  margin-bottom: 1.6rem !important;
}

.mgb-sml {
  margin-bottom: 3.2rem !important;
}

.mgb-mdm {
  margin-bottom: 4.8rem !important;
}

.mgb-lrg {
  margin-bottom: 8rem !important;
}

.mgb-hg {
  margin-bottom: 9.6rem !important;
}

.text-center {
  text-align: center !important;
}

.color-darken {
  color: var(--color-primary-dark--2) !important;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: var(--border-radius--md);
  transition: all 0.3s;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
.btn--full:link, .btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--full:hover, .btn--full:active {
  background-color: var(--color-primary-dark--1);
}
.btn--outline:link, .btn--outline:visited {
  background-color: var(--color-white);
  color: var(--grey--2);
}
.btn--outline:hover, .btn--outline:active {
  background-color: var(--color-primary-light--3);
  box-shadow: inset 0 0 0 3px var(--color-white);
}
.btn--form {
  background-color: var(--color-primary-dark--2);
  color: var(--color-primary-light--3);
  padding: 1.2rem;
  align-self: end;
}
.btn--form:hover {
  background-color: var(--color-white);
  color: var(--grey--2);
}

.delivered__meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
@media only screen and (max-width: 59.4em) {
  .delivered__meals {
    margin-top: 3rem;
    justify-content: center;
  }
}
@media only screen and (max-width: 46.875em) {
  .delivered__meals {
    margin-top: -3rem;
    flex-direction: column;
  }
}
.delivered__imgs {
  display: flex;
}
.delivered__img {
  max-height: 4.8rem;
  max-width: 4.8rem;
  border-radius: var(--border-radius--circle);
  border: 3px solid var(--color-primary-light--3);
}
.delivered__img:not(:last-child) {
  margin-right: -1.6rem;
}

.step {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 59.4em) {
  .step {
    grid-template-columns: 1fr;
  }
}
.step:not(:last-of-type) {
  margin-bottom: 9.6rem;
}
.step__img-box {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  align-items: center;
  justify-items: center;
  position: relative;
}
.step__img-box::after, .step__img-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: var(--border-radius--circle);
}
.step__img-box::before {
  width: 45%;
  padding-bottom: 45%;
  background-color: var(--color-primary-light--3);
  z-index: 2;
}
@media only screen and (max-width: 59.4em) {
  .step__img-box::before {
    width: 70%;
    padding-bottom: 70%;
  }
}
.step__img-box::after {
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--color-primary-light--2);
  z-index: 1;
}
@media only screen and (max-width: 59.4em) {
  .step__img-box::after {
    width: 85%;
    padding-bottom: 85%;
  }
}
.step__img {
  max-width: 35%;
  z-index: 3;
}
@media only screen and (max-width: 59.4em) {
  .step__img {
    max-width: 55%;
  }
}
.step--odd .step__text-box {
  order: 1;
}
.step--odd .step__img-box {
  order: 2;
}
.step--even .step__text-box {
  order: 2;
}
.step--even .step__img-box {
  order: 1;
}
@media only screen and (max-width: 59.4em) {
  .step--even .step__text-box {
    order: 1;
  }
  .step--even .step__img-box {
    order: 2;
  }
}

.meal-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
@media only screen and (max-width: 59.4em) {
  .meal-card {
    max-width: 75%;
  }
}
@media only screen and (max-width: 31.25em) {
  .meal-card {
    max-width: 90%;
  }
}
.meal-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-card__img {
  width: 100%;
}
.meal-card__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-card__tags {
  display: flex;
  gap: 0.4rem;
}
.meal-card__attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.meal-card__attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@media only screen and (max-width: 68.75em) {
  .diets {
    grid-column: 1/-1;
    text-align: center;
  }
}
.diets__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
@media only screen and (max-width: 68.75em) {
  .diets__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 8rem;
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .diets__list {
    gap: 2.4rem 3.2rem;
  }
}
@media only screen and (max-width: 31.25em) {
  .diets__list {
    grid-template-columns: 1fr;
  }
}
.diets__list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.icon-sm {
  width: 2.4rem;
  height: 2.4rem;
  fill: var(--color-primary);
}
.icon-md {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary);
}
.icon-lg {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-primary-dark--1);
  background-color: var(--color-primary-light--3);
  padding: 1.6rem;
  border-radius: var(--border-radius--circle);
  box-sizing: content-box;
}
.icon-social {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--grey--4);
  transition: all 0.4s;
}
.icon-social:hover {
  fill: var(--grey--1);
}

.link--all-recipes:link, .link--all-recipes:visited {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link--all-recipes:hover, .link--all-recipes:active {
  transform: translateY(-1px);
  border-bottom: 1px solid transparent;
}

.contact__link {
  display: block;
  transition: all 0.3s;
}

.testimonial__img {
  width: 6.4rem;
  border-radius: var(--border-radius--circle);
}

.plan {
  border-radius: 11px;
  width: 75%;
}
@media only screen and (max-width: 68.75em) {
  .plan {
    max-width: 50%;
  }
}
@media only screen and (max-width: 46.875em) {
  .plan {
    max-width: 90%;
  }
}
@media only screen and (max-width: 31.25em) {
  .plan {
    max-width: 100%;
    align-self: stretch;
    justify-self: stretch;
  }
}
.plan--starter {
  justify-self: end;
  border: 2px solid var(--color-primary-light--3);
  padding: 4.6rem;
}
@media only screen and (max-width: 68.75em) {
  .plan--starter {
    justify-self: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .plan--starter {
    padding: 4.4rem;
  }
}
.plan--complete {
  justify-self: start;
  background-color: var(--color-primary-light--3);
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 68.75em) {
  .plan--complete {
    justify-self: center;
  }
}
@media only screen and (max-width: 31.25em) {
  .plan--complete {
    padding: 4.6rem;
  }
}
.plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;
  background-color: var(--color-yellow--paleo);
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan__attributes {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.plan__attribute {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media only screen and (max-width: 31.25em) {
  .plan__attribute {
    gap: 1.2rem;
  }
}

.form__group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

select,
input {
  padding: 1.2rem;
  border: none;
  background-color: var(--color-primary-light--3);
  border-radius: var(--border-radius--md);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.mobile-nav__checkbox {
  display: none;
}
.mobile-nav__checkbox:checked ~ .nav {
  transform: translateX(0);
}
.mobile-nav__checkbox:checked ~ .mobile-nav__background {
  transform: scale(150);
}
.mobile-nav__checkbox:checked ~ .mobile-nav__label .mobile-nav__btn {
  background-color: transparent;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__label .mobile-nav__btn::after {
  transform: rotate(135deg);
  top: 0;
}
.mobile-nav__checkbox:checked ~ .mobile-nav__label .mobile-nav__btn::before {
  transform: rotate(-135deg);
  top: 0;
}
.mobile-nav__label {
  background-color: transparent;
  position: fixed;
  top: 1rem;
  right: 2.5rem;
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 2000;
  display: none;
}
@media only screen and (max-width: 59.4em) {
  .mobile-nav__label {
    display: inline-block;
  }
}
.mobile-nav__label:hover .mobile-nav__btn::after {
  top: 1rem;
}
.mobile-nav__label:hover .mobile-nav__btn::before {
  top: -1rem;
}
.mobile-nav__background {
  display: none;
  width: 3rem;
  height: 3rem;
  background-image: radial-gradient(#fae5d3, #fdf2e9);
  position: fixed;
  top: -2.5rem;
  right: -2.5rem;
  border-radius: 50%;
  transition: all 0.4s;
  z-index: 1000;
}
@media only screen and (max-width: 59.4em) {
  .mobile-nav__background {
    display: inline-block;
  }
}
.mobile-nav__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mobile-nav__btn, .mobile-nav__btn::after, .mobile-nav__btn::before {
  background-color: var(--color-primary-dark--2);
  width: 4rem;
  height: 0.3rem;
  border-radius: 10rem;
}
.mobile-nav__btn::after, .mobile-nav__btn::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}
.mobile-nav__btn::before {
  top: -0.9rem;
}
.mobile-nav__btn::after {
  top: 0.9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-light--3);
  height: 9.6rem;
}
.header__logo {
  max-height: 2.2rem;
  max-width: 100%;
}

.footer {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 59.4em) {
  .footer {
    display: grid;
    column-gap: 2.4rem;
    row-gap: 9.6rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
  }
  .footer .col-logo {
    grid-column: 1/span 3;
    text-align: center;
  }
  .footer .col-contact {
    grid-column: 4/span 3;
    text-align: center;
  }
  .footer .col-Account {
    grid-column: 1/span 2;
    text-align: center;
  }
  .footer .col-Company {
    grid-column: 3/span 2;
    text-align: center;
  }
  .footer .col-Resources {
    grid-column: 5/span 2;
    text-align: center;
  }
  .footer__social-box {
    justify-content: center;
  }
}
.footer__logo {
  height: 2.2rem;
}
.footer__social-box {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer__social-box li {
  cursor: pointer;
}
.footer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

[class^=col] {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: auto;
}

.nav {
  transition: all 0.4s;
}
@media only screen and (max-width: 59.4em) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100%);
    z-index: 1500;
  }
}
.nav__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
@media only screen and (max-width: 59.4em) {
  .nav__list {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.nav__link:link, .nav__link:visited {
  display: inline-block;
  transition: all 0.3s;
}
.nav__link-cta:link, .nav__link-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: var(--border-radius--md);
  background-color: var(--color-primary);
}
.nav__link-cta:hover, .nav__link-cta:active {
  background-color: var(--color-primary-dark--1);
}

.hero {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 6.4rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 59.4em) {
  .hero {
    display: grid;
    column-gap: 6rem;
    row-gap: 6.4rem;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
  }
  .hero__text-box {
    padding: 0 15rem;
  }
}
@media only screen and (max-width: 59.4em) and (max-width: 46.875em) {
  .hero__text-box {
    padding: 0 6.4rem;
  }
}
@media only screen and (max-width: 59.4em) and (max-width: 31.25em) {
  .hero__text-box {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 59.4em) {
  .hero__img-box {
    padding: 0;
  }
}
.hero__cta {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
@media only screen and (max-width: 59.4em) {
  .hero__cta {
    justify-content: center;
  }
}
@media only screen and (max-width: 46.875em) {
  .hero__cta {
    flex-direction: column;
    gap: 3rem;
  }
}
.hero__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 59.4em) {
  .hero__img {
    max-width: 45rem;
  }
}
@media only screen and (max-width: 46.875em) {
  .hero__img {
    max-width: 35rem;
  }
}

.featured-in {
  max-width: 100%;
  display: grid;
  column-gap: 1.8rem;
  row-gap: 1.8rem;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}
.featured-in__logo {
  filter: brightness(0);
  opacity: 50%;
  max-height: 3.2rem;
  max-width: 100%;
}

.meals {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 68.75em) {
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }
  .meals__footer {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 59.4em) {
  .meals {
    grid-template-columns: 1fr;
  }
}

.testimonials {
  display: grid;
  column-gap: 8rem;
  row-gap: 4.8rem;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 59.4em) {
  .testimonials {
    grid-template-columns: 1fr;
  }
}

.gallery {
  display: grid;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  padding: var(--pad-all--tny);
}
@media only screen and (max-width: 96.875em) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 59.4em) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 31.25em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery__img-box {
  overflow: hidden;
}
.gallery__img {
  width: 100%;
  transition: all 0.4s;
}
.gallery__img:hover {
  transform: scale(1.13);
}

.pricing__plans {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 68.75em) {
  .pricing__plans {
    grid-template-columns: 1fr;
  }
}
.pricing__features {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 68.75em) {
  .pricing__features {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
    align-items: stretch;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 59.4em) {
  .pricing__features {
    display: flex;
    flex-direction: column;
  }
  .pricing__features .feature {
    text-align: center;
  }
}

.cta {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 2fr 1fr;
  background-color: var(--color-primary-light--1);
  border-radius: var(--border-radius--md);
  padding: 0;
  overflow: hidden;
}
@media only screen and (max-width: 59.4em) {
  .cta {
    grid-template-columns: 1fr;
  }
}
.cta__text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta__img-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url(../../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 59.4em) {
  .cta__img-box {
    display: none;
  }
}
.cta__form {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 46.875em) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.header {
  padding: var(--pad-sides--tny);
}

.section-hero {
  max-width: 100vw;
  padding: var(--pad-top-btm-diff--md);
  background-color: var(--color-primary-light--3);
}
.section-hero .hero {
  max-width: 130rem;
  margin: 0 auto;
}
.section-featured-in {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-diff--tny);
}
.section-how {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-same--md);
}
.section-meals {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-same--md);
}
.section-testimonials {
  display: grid;
  column-gap: 0;
  row-gap: 0;
  align-items: center;
  justify-items: center;
  grid-template-columns: 55fr 45fr;
  background-color: var(--color-primary-light--3);
  padding: 0;
}
@media only screen and (max-width: 96.875em) {
  .section-testimonials {
    grid-template-columns: 1fr;
  }
}
.section-testimonials .testimonials__container {
  padding: var(--pad-all--md);
}
@media only screen and (max-width: 46.875em) {
  .section-testimonials .testimonials__container {
    padding: 5.2rem;
  }
}
.section-pricing {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-same--md);
}
.section-cta {
  max-width: 120rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-diff--lg);
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

footer {
  max-width: 130rem;
  margin: 0 auto;
  padding: var(--pad-top-btm-same--lg);
}

/*# sourceMappingURL=style.css.map */
