@use "./variables";

// ***********************************      Absolute centering
@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// ***********************************      Lists
@mixin list($col) {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $col;
}

// ***********************************      Containers
@mixin container-small {
  max-width: 120rem;
  margin: 0 auto;
}
@mixin container-medium {
  max-width: 130rem;
  margin: 0 auto;
}
@mixin container-full {
  max-width: 100vw;
}

// ***********************************      Grid definitions
@mixin grid($col-gap, $row-gap, $align, $justify) {
  display: grid;
  column-gap: $col-gap;
  row-gap: $row-gap;
  align-items: $align;
  justify-items: $justify;
}

// ***********************************      Media Query Manager

/*
 - phone-small
 - phone-large
 - tab-small
 - tab-large
 - tab-land-small
 - tab-land-large
 - desk
 - desk-big
*/

@mixin respond($breakpoint) {
  @if $breakpoint == screen-500 {
    @media only screen and (max-width: 31.25em) {
      @content;
    } //500px
  }

  @if $breakpoint == screen-750 {
    @media only screen and (max-width: 46.875em) {
      @content;
    } //750px
  }

  @if $breakpoint == screen-950 {
    @media only screen and (max-width: 59.4em) {
      @content;
    } //950px
  }

  @if $breakpoint == screen-1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    } //1100px
  }

  @if $breakpoint == screen-1550 {
    @media only screen and (max-width: 96.875em) {
      @content;
    } //1550px
  }

  @if $breakpoint == screen-1800 {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}
