:root {
  // General-color variables
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #e67e22;
  --color-primary-light--1: #eb984e;
  --color-primary-light--2: #fae5d3;
  --color-primary-light--3: #fdf2e9;
  --color-primary-dark--1: #cf711f;
  --color-primary-dark--2: #45260a;

  // Tag-color variables
  --color-green--vegetarian: #51cf66;
  --color-green--vegan: #94d82d;
  --color-yellow--paleo: #ffd43b;

  // Greys
  --grey--1: #333;
  --grey--2: #555;
  --grey--3: #6f6f6f; // (lightest grey allowed on #fdf2e9)
  --grey--4: #767676; // (lightest grey allowed on #fff)
  --grey--5: #888;
  --grey--6: #aaa;
  --grey--7: #ddd;

  // Border-radiuses
  --border-radius--sm: 4px;
  --border-radius--md: 9px;
  --border-radius--lg: 11px;
  --border-radius--circle: 50%;
  --border-radius--round: 10rem;

  // Line-heights
  --lh--1: 1;
  --lh--2: 1.05;
  --lh--3: 1.2;
  --lh--4: 1.6;
  --lh--5: 1.8;

  // Paddings
  --pad-sides--tny: 0 3.2rem;
  --pad-sides--sm: 0 4.8rem;
  --pad-sides--md: 0 9.6rem;
  --pad-sides--lg: 0 12.8rem;

  --pad-top-btm-diff--tny: 4.8rem 0 3.2rem 0;
  --pad-top-btm-diff--md: 4.8rem 0 9.6rem 0;
  --pad-top-btm-diff--lg: 4.8rem 0 12.8rem 0;

  --pad-top-btm-same--tny: 3.2rem 0;
  --pad-top-btm-same--sm: 4.8rem 0;
  --pad-top-btm-same--md: 9.6rem 0;
  --pad-top-btm-same--lg: 12.8rem 0;

  --pad-all--tny: 1.6rem;
  --pad-all--sm: 3.2rem;
  --pad-all--md: 9.6rem;
  --pad-all--lg: 12.8rem;

  // Gaps
  --gap--vtn: 1.6rem;
  --gap--tn: 2.4rem;
  --gap--vsm: 3.2rem;
  --gap--sm: 4.8rem;
  --gap--md: 6.4rem;
  --gap--lg: 9.8rem;
  --gap--vlg: 12.8rem;
}
