@use "../abstracts/mixins" as mix;

.footer {
  @include mix.grid(6.4rem, 9.6rem, start, center);
  grid-template-columns: repeat(5, 1fr);

  &__logo {
    height: 2.2rem;
  }

  &__social-box {
    list-style: none;
    display: flex;
    gap: 2.4rem;

    li {
      cursor: pointer;
    }
  }

  &__list {
    @include mix.list(2.4rem);
  }
}

[class^="col"] {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: auto;
}
