@use "../abstracts/mixins" as mix;

.delivered {
  &__meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;

    @include mix.respond(screen-950) {
      margin-top: 3rem;
      justify-content: center;
    }

    @include mix.respond(screen-750) {
      margin-top: -3rem;
      flex-direction: column;
    }
  }

  &__imgs {
    display: flex;
  }

  &__img {
    max-height: 4.8rem;
    max-width: 4.8rem;
    border-radius: var(--border-radius--circle);
    border: 3px solid var(--color-primary-light--3);

    &:not(:last-child) {
      margin-right: -1.6rem;
    }
  }
}
