@use "../abstracts/mixins" as mix;

.diets {
  @include mix.respond(screen-1100) {
    grid-column: 1/-1;
    text-align: center;
  }

  &__list {
    @include mix.list(1.6rem);

    @include mix.respond(screen-1100) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem 8rem;
      margin-top: 8rem;
    }

    @include mix.respond(screen-750) {
      gap: 2.4rem 3.2rem;
    }

    @include mix.respond(screen-500) {
      grid-template-columns: 1fr;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
