.link {
  &--all-recipes {
    &:link,
    &:visited {
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 1px solid currentColor;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      transform: translateY(-1px);
      border-bottom: 1px solid transparent;
    }
  }
}

.contact__link {
  display: block;
  transition: all 0.3s;
}
