@use "../abstracts/mixins" as mix;

.step {
  @include mix.grid(6.4rem, 9.6rem, center, center);
  grid-template-columns: repeat(2, 1fr);

  @include mix.respond(screen-950) {
    grid-template-columns: 1fr;
  }

  &:not(:last-of-type) {
    margin-bottom: 9.6rem;
  }

  &__img-box {
    @include mix.grid(0, 0, center, center);
    position: relative;

    &::after,
    &::before {
      content: "";
      @include mix.absCenter;
      display: block;
      border-radius: var(--border-radius--circle);
    }

    &::before {
      width: 45%;
      padding-bottom: 45%;
      background-color: var(--color-primary-light--3);
      z-index: 2;

      @include mix.respond(screen-950) {
        width: 35%;
        padding-bottom: 35%;
      }
    }

    &::after {
      width: 60%;
      padding-bottom: 60%;
      background-color: var(--color-primary-light--2);
      z-index: 1;

      @include mix.respond(screen-950) {
        width: 45%;
        padding-bottom: 45%;
      }
    }
  }

  &__img {
    max-width: 35%;
    z-index: 3;

    @include mix.respond(screen-950) {
      width: 25%;
    }
  }

  &--odd &__text-box {
    order: 1;
  }
  &--odd &__img-box {
    order: 2;
  }

  &--even &__text-box {
    order: 2;
  }
  &--even &__img-box {
    order: 1;
  }

  @include mix.respond(screen-950) {
    &--even &__text-box {
      order: 1;
    }
    &--even &__img-box {
      order: 2;
    }
  }
}
