@use "../abstracts/mixins" as mix;
@use "../abstracts/placeholders";

.header {
  padding: var(--pad-sides--tny);
}

.main {
  section {
    @extend %pad_all_inner_elements;
  }
}

.section {
  // ***************************************** Section Hero
  &-hero {
    @include mix.container-full;
    padding: var(--pad-top-btm-diff--md);
    background-color: var(--color-primary-light--3);
  }

  // ***************************************** Section Featured-in
  &-featured-in {
    @include mix.container-small;
    padding: var(--pad-top-btm-diff--tny);
  }

  // ***************************************** Section How-it-works
  &-how {
  }

  // ***************************************** Section Meals
  &-meals {
  }

  // ***************************************** Section Testimonials
  &-testimonials {
  }

  // ***************************************** Section Pricing
  &-pricing {
  }
  // ***************************************** Section CTA
  &-cta {
  }
}

.footer {
}
